@tailwind base;
@tailwind components;
@tailwind utilities;

/* * fonts */

@font-face {
  font-family: fas;
  src: url("./main_assets/fonts/Fascinate-Regular.ttf");
}

@font-face {
  font-family: inter;
  src: url("./main_assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: quicksand;
  src: url("./main_assets/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: roboto;
  src: url("./main_assets/fonts/roboto");
}

@font-face {
  font-family: syn;
  src: url("./main_assets/fonts/Syncopate-Regular.ttf");
}

@font-face {
  font-family: tiny;
  src: url("./main_assets/fonts/Tiny5-Regular.ttf");
}

/* *startseite */
.header1 {
  @apply text-[3rem] text-burnt-red uppercase;
}

.header2 {
  @apply text-[2rem] uppercase text-baby-pink;
}

.pStartseite {
  @apply text-[1.4rem] hover:text-burnt-red;
}

.flexColCenter {
  @apply flex flex-col justify-center items-center;
}

/* * buttons */

.basicBtn {
  @apply text-[0.9rem] border-2 rounded-lg p-[0.7rem] text-center;
}



/* * Hangman */
.hmBtn {
  @apply text-[1.5rem] border-2 rounded-sm p-[0.3rem] text-center w-[3rem] h-[3rem] ; border-color: #d8ac2f;
}
.hmBtn:hover{
  border-color: rgb(185, 42, 42);color: rgb(185, 42, 42); transition: linear; transition-duration: 0.2s;}

.hmBtnAgain{
  @apply  p-[1rem];
}

.hmBtnAgain:hover{
  transition: linear; transition-duration: 0.2s; text-decoration: underline;
}
  
.hmTimer{
    @apply text-[2.5rem] text-rb-red
  }

