@tailwind base;
@tailwind components;
@tailwind utilities;

/* * fonts */

@font-face {
  font-family: fas;
  src: url("./main_assets/fonts/Fascinate-Regular.ttf");
}

@font-face {
  font-family: inter;
  src: url("./main_assets/fonts/Inter-VariableFont_opsz,wght.ttf");
}

@font-face {
  font-family: quicksand;
  src: url("./main_assets/fonts/Quicksand-VariableFont_wght.ttf");
}

@font-face {
  font-family: roboto;
  src: url("./main_assets/fonts/roboto");
}

@font-face {
  font-family: syn;
  src: url("./main_assets/fonts/Syncopate-Regular.ttf");
}

/* *startseite */
.header1 {
  @apply text-[3rem] text-burnt-red uppercase;
}

.header2 {
  @apply text-[2rem] uppercase text-baby-pink;
}

.pStartseite {
  @apply text-[1.4rem] hover:text-burnt-red;
}

.flexColCenter {
  @apply flex flex-col justify-center items-center;
}

/* * buttons */

.basicBtn {
  @apply text-[0.9rem] border-2 rounded-lg p-[0.7rem] text-center;
}
